[Desktop Entry]
Encoding=UTF-8
Name=Link to androidRecordPlayServer.py
Type=Link
URL=https://cdn.discordapp.com/attachments/596784524147294242/612077720515510289/androidRecordPlayServer.py
Icon=text-x-python
